doctype html
html
 head
  title Type a password
  link(rel="stylesheet" type="text/css" href="/public/stylesheets/passwords.css")
 body
  script(type="text/javascript").
   window.onload = function(){
    console.log('finally scripting');
    var data = '#{data}';
    var scriptMessage = '#{scriptMessage}';
    if(typeof message != 'undefined'){
     console.log(message)
     var myMessage = document.createElement('h4')
     myMessage.setAttribute('style','color:blue')
     myMessage.innerHTML = message;
     document.body.appendChild(myMessage);
    }
    var formChecked = false;
    document.getElementById('mySubmit').disabled = false;
    var inputsOnPage = document.querySelectorAll("input");
    console.log(inputsOnPage.length);
    //for(var n=0;n<inputsOnPage.length;n++){
     //inputsOnPage[n].setAttribute('onkeyup','checkingFormAfterKeyup()');
    //}
    document.getElementById('usernameLog').value = data;
    // this is the validation for the form
    //document.body = checkingFormAfterKeyup();
    function checkingFormAfterKeyup(){
     console.log('hope is all we need');
     var count=0;
     for(var i=0;i<inputsOnPage.length;i++){
      if(inputsOnPage[i].value!=''&&inputsOnPage[i].value!=' '){
       count+=1;
      }
     }
     if(count==inputsOnPage.length){
      formChecked = true;
     } else{
      formChecked = false;
     }
    }
    var mySelect = document.createElement('select');
    var questionList = ['***','10 character password','6 digit integer','First pet','First Day of School? T or F','Favorite Number'];
    for(var i=0;i<questionList.length;i++){
     var option = document.createElement("option");
     option.value = questionList[i];
     option.text = questionList[i];
     mySelect.appendChild(option);
    }
    var myRightDiv = document.getElementById('right');
    var updateInput = document.createElement('input');
    var rightMessage = document.getElementById('rightMessage');
    var updateButton = document.createElement('input');
    updateButton.id = 'updateButton';
    updateButton.type = "submit";

    updateButton.value = "Update Field";
    updateButton.onmouseover = function(){
     if(updateInput.value = ''||' '){
      updateButton.disabled = true;
     }
    }
    updateInput.placeholder = '***';
    updateInput.disabled = true;
    updateInput.id = 'updateInput';
    mySelect.onchange = function(){
     var elem = (typeof this.selectedIndex === "undefined" ? window.event.srcElement : this);
     var value = elem.value || elem.options[elem.selectedIndex].value;
     updateInput.placeholder = value;
    }
    if(scriptMessage != ' '||undefined||''){
     console.log(scriptMessage);
     if(scriptMessage=='Account ready!'){
      updateInput.disabled=false;
     }
    }
    if(updateInput.disabled === true){
     rightMessage.textContent = 'You will need to verify current information before updating';
    } else{
     rightMessage.textContent = 'Account Verified';
     var form = document.createElement('form');
     form.action = '/updateSpecificField';
     form.method = 'POST';
     form.appendChild(mySelect);
     form.appendChild(document.createElement('br'));
     form.appendChild(updateInput);
     form.appendChild(document.createElement('br'));
     form.appendChild(updateButton);
     myRightDiv.appendChild(form);
     document.getElementById('updateButton').onmouseout = function(){
      console.log('ok');
      updateButton.disabled = false;
     }
    }
   };
  div(id="left")
   h1 Password page
   form(action="/passwordSet" method="POST")
    label(for="passwordSet1") Enter A 10 character password:
    br
    input(type="text" name="passwordSet1")
    br
    br
    label(for="passwordSet2") Enter 6 digit integer:
    br
    input(type="text" name="passwordSet2")
    br
    h2 Security Questions...
    label(for="securitySet1") Name of your first pet:
    br
    input(type="text" name="securitySet1")
    br
    br
    label(for="securitySet2") Do you remember the first day you went to school? True or False:
    br
    input(type="text" name="securitySet2")
    br
    br
    label(for="securitySet3") Enter Favorite Number:
    br
    input(type="text" name="securitySet3")
    input(type="text" style="display:none" name="usernameLogged" id="usernameLog" value="#{data}")
    br
    input(type="submit" id="mySubmit")
    br
    br
   h4 !{message}
  div(id="right")
   h1 Submit current information
   br
   form(action="/passwordUpdate" method="POST")
    label(for="passwordSet1") Enter A 10 character password:
    br
    input(type="text" name="passwordSet1")
    br
    br
    label(for="passwordSet2") Enter 6 digit integer:
    br
    input(type="text" name="passwordSet2")
    br
    h2 Security Questions...
    label(for="securitySet1") Name of your first pet:
    br
    input(type="text" name="securitySet1")
    br
    br
    label(for="securitySet2") Do you remember the first day you went to school? True or False:
    br
    input(type="text" name="securitySet2")
    br
    br
    label(for="securitySet3") Enter Favorite Number:
    br
    input(type="text" name="securitySet3")
    input(type="text" style="display:none" name="usernameLogged" id="usernameLog" value="#{data}")
    br
    input(type="submit" id="mySubmit2")
    br
    br
   h4 !{message2}
   h4(id="rightMessage")
  form(method="POST" action="/makeFiles" name="makeFileForm")
   h3 If you have already created passwords for your page, let's put some files in!
   input(type="text" style="display:none" name="usernameLogged" value="#{data}")
   input(type="submit" value="Click Here!")
